<b>

ISYS613 | Course Project | Fall 2022
--------|----------------|----------

</b>

Source 1: Initial Author Data
The initial list of author names is to be web-scraped from a popular "famous quotes" website. There are 50 unique authors available from this site. Begin your exploration at the base URL and determine your own strategy to find and capture the required author data.
Depending on your approach, you may encounter the same author multiple times. In the end, your list of authors should be duplicate free.
Base Scrape URL: https://quotes.toscrape.com
You will be collecting and assembling data from several different sources and formats.
1.	Source 1 - web scraping
2.	Source 2 - delimitted file
3.	Source 3 - direct download XML file
4.	Source 4 - Zip Code API
Tasks
1.	Beginning at the Base Scrape URL given above, you are to use a web scraping technique to collect the following author information:
•	Full Name
•	Date of birth
•	Birth location
•	Create a pandas dataframe from (or using) the relevant data
Source 2: Author Key Data
Tasks
1.	The author names are unique in both data sources and thus may be used to associate the key and gender attribute values with the author.
2.	Once you have completed the merge, convert the key column to be the dataframe's row index.
Source 3: Author Location Data
This direct download XML data source contains the location information that will be used to direct app users to the historical sites associated with each author. The id tag can be used to match the previously assembled author data (ie, the key attribute) with the author location data.
You are to retain all of the location attributes (excluding id - which will be a duplicate of the existing key attribute) from this data source to extend the previously collected author data.
Direct Download URL: https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml
Data Format: XML
Encoding: UTF-8
Tasks
1.	Ingest the XML data into a pandas dataframe
2.	Use the pandas dataframe merge method to join the new dataframe with the Source 1+2 dataframe.
3.	Source 3 contains location data for many public figures in addition to the 50 authors in which we are currently interested. You must restrict your final Source 3 dataframe to our 50 authors.
Source 4: Zip Code API
You may have observed that the Source 3 data does not include the city and zip code information for the property locations for our 50 authors. Your task is the use the latitude and longitude values from the Source 3 data to locate the city and zip code information and incorporate that information into your dataframe.
The USPS maintains data related to all US zip codes and their centroid latitude and longitude. The Source 3 data contains the latitude and longitude information (the lat and long tags) for the author locations. Your task is to use the Source 3 latitude and longitude values as an argument to the zip code api in order to to augment your dataframe with the city name and zip code of the authors' locations.
The ZIP code API contains ZIP codes for the continental United States, Alaska, Hawaii, Puerto Rico, and American Samoa. The API provides data in JSON format values for for ZIP code, city, latitude, longitude, timezone (offset from GMT).
The relevant zip code API URL and parameters are shown in the table below.
Tasks
The long and lat values from Source 3 are the exact longitude and latitude values for a single property location. As such, it is unlikely that you will find an exact match from the zip code API using these values. Instead, you must:
1.	round the lat and long values to 2 decimal place
2.	invoke the API requesting all zip code related data within 10 kilometers from the rounded lat and long values. (Refer to the q or geofilter.distanceparameter documentation listed above.)
3.	If the returned JSON results indicate more that one candidate record has been returned, you must determine which record's longitude and latitude are the closest to the Source 3 long and lat values.

## Project Overview
The objective of this project is to afford you the opportunity to demonstrate the
skills acquired over the course of the semester.  Specifically, you will be constructing
an analytics-ready dataset using data from several disparate, but related data sources.

Your dataset is to be a pandas dataframe suitable for answering the proof-of-concept
questions located at the end of this document.

### The Scenario
You are the proprietor of a small tour company.  You are interested in launching a new app
that will allow users to undertake self-guided tours of noteworthy authors. To launch your app
you need to assemble the authors' location information along with some other facts that you
believe will be of interest to your customers.

## Data Sources
You will be collecting and assembling data from several different sources and formats.
1. Source 1 - web scraping
1. Source 2 - delimitted file
1. Source 3 - direct download XML file
1. Source 4 - Zip Code API

## Project Teams
Working on a team is not a requirement and you may complete the project on your own.
Thus, project team(s) may be composed of 1 or **at most** 2 students. If you are working
with another student please, ensure both of your names are clearly visible in your final solution JNB.

### Source 1: Initial Author Data
The initial list of author names is to be web-scraped from a popular "famous quotes" website.
There are 50 unique authors available from this site.  Begin your exploration at the base
URL and determine your own strategy to find and capture the required author data.

Depending on your approach, you may encounter the same author multiple times.
In the end, your list of authors should be duplicate free.

```
Base Scrape URL: https://quotes.toscrape.com
```
#### Tasks
1. Beginning at the Base Scrape URL given above, you are to use a web scraping technique to collect
the following author information:
* Full Name
* Date of birth
* Birth location
2. Create a pandas dataframe from (or using) the relevant data

In [1]:
import pandas as pd
# TEST DATA
#URL = 'http://books.toscrape.com/'

from requests.exceptions import HTTPError
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from urllib.parse import urljoin

EW_URL = 'https://quotes.toscrape.com'

def simple_get(url, *args, **kwargs):
    """
    Attempts to get the content at `url` by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

allpage=[]      
def get_allurl2(url):
    resp = simple_get(url, timeout=5)
    html = resp.text
    soup = BeautifulSoup(html, 'html.parser') 
    
    li = soup.find('li', class_='next')
    if li is not None:      
        pgurl = urljoin(url, li.a['href'])  
        allpage.append(pgurl)
        
        get_allurl2(pgurl)
    


def who_actors(allurl):
    
    author = []
    author_date = []
    author_location = []
    for url in allurl:
    
        resp = simple_get(url, timeout=5)
        html = resp.text

        soup = BeautifulSoup(html, 'html.parser')

        body_tag = soup.body


        tag = soup.find_all("div", class_="quote")

        for t in tag:
            a = t.find("small", class_="author")
            author.append(a.text)
            #print("author testing")
            #print(a.text)

            link = allurl[0]+ t.a["href"]
            #print(link)
            result = requests.get(link)
            soup_loop = BeautifulSoup(result.text, 'html.parser')
            auth_date = soup_loop.find("span", class_="author-born-date")
            author_date.append(auth_date.text)
            auth_location = soup_loop.find("span", class_="author-born-location")
            author_location.append(auth_location.text)

        #print(author)
        #print(author_date)
        #print(author_location)
    output = pd.DataFrame({'author': author, 'Author_Birth_Date': author_date,  "Author_Birth_Location": author_location})
    newoutput=output.drop_duplicates(subset='author', keep="last")
    newoutput.reset_index(drop=True)
    print(newoutput)
    
def main():
    allpage.append(EW_URL)
    get_allurl2(EW_URL)
    #print(allpage)
    who_actors(allpage)
    
if __name__ == "__main__":
    main()

                    author   Author_Birth_Date  \
6               André Gide   November 22, 1869
7         Thomas A. Edison   February 11, 1847
9             Steve Martin     August 14, 1945
15           Douglas Adams      March 11, 1952
16             Elie Wiesel  September 30, 1928
17     Friedrich Nietzsche    October 15, 1844
19          Allen Saunders      April 24, 1899
20            Pablo Neruda       July 12, 1904
23        Garrison Keillor     August 07, 1942
24              Jim Henson  September 24, 1936
32              Bob Marley   February 06, 1945
33           Mother Teresa     August 26, 1910
35       Charles M. Schulz   November 26, 1922
36       William Nicholson    January 12, 1948
38       Jorge Luis Borges     August 24, 1899
39            George Eliot   November 22, 1819
47  Martin Luther King Jr.    January 15, 1929
49           James Baldwin     August 02, 1924
51       Eleanor Roosevelt    October 11, 1884
52          Marilyn Monroe       June 01, 1926
54         Haruki Murakami    January 12, 1949
55    Alexandre Dumas fils       July 27, 1824
56         Stephenie Meyer   December 24, 1973
58            Helen Keller       June 27, 1880
59     George Bernard Shaw       July 26, 1856
62         Suzanne Collins     August 11, 1962
64          J.R.R. Tolkien    January 03, 1892
66        Ernest Hemingway       July 21, 1899
67     Ralph Waldo Emerson        May 25, 1803
70         Alfred Tennyson     August 06, 1809
71        Charles Bukowski     August 16, 1920
72         Terry Pratchett      April 28, 1948
74           J.D. Salinger    January 01, 1919
75           George Carlin        May 12, 1937
76             John Lennon    October 09, 1940
77             W.C. Fields    January 29, 1880
78                Ayn Rand   February 02, 1905
80         Albert Einstein      March 14, 1879
84             Jane Austen   December 16, 1775
89              C.S. Lewis   November 29, 1898
90            J.K. Rowling       July 31, 1965
91            Jimi Hendrix   November 27, 1942
92             J.M. Barrie        May 09, 1860
93           E.E. Cummings    October 14, 1894
94         Khaled Hosseini      March 04, 1965
95              Harper Lee      April 28, 1926
96       Madeleine L'Engle   November 29, 1918
97              Mark Twain   November 30, 1835
98               Dr. Seuss      March 02, 1904
99      George R.R. Martin  September 20, 1948

                                Author_Birth_Location
6                                    in Paris, France
7                   in Milan, Ohio, The United States
9                   in Waco, Texas, The United States
15          in Cambridge, England, The United Kingdom
16                                 in Sighet, Romania
17  in Röcken bei Lützen, Prussian Province of Sax...
19                               in The United States
20                                   in Parral, Chile
23             in Anoka, Minnesota, The United States
24      in Greenville, Mississippi, The United States
32                   in Nine Mile, Saint Ann, Jamaica
33  in Skopje, Macedonia, the Former Yugoslav Repu...
35              in Minneapolis, MN, The United States
36               in Lewes, Sussex, The United Kingdom
38                         in Buenos Aires, Argentina
39  in South Farm, Arbury Hall, Nuneaton, Warwicks...
47             in Atlanta, Georgia, The United States
49             in Harlem, New York, The United States
51                               in The United States
52                               in The United States
54                                    in Kyoto, Japan
55                                   in Paris, France
56                  in Connecticut, The United States
58           in Tuscumbia, Alabama, The United States
59                                 in Dublin, Ireland
62        in Hartford, Connecticut, The United States
64  in Bloemfontein, Mangaung, Free State, South A...
66           in Oak Park, Illinois, The United States
67        in Boston, Massachusetts, The United States
70      in Somersby, Lincolnshire, The United Kingdom
71                              in Andernach, Germany
72  in Beaconsfield, Buckinghamshire, England, The...
74          in Manhattan, New York, The United States
75           in New York, New York, The United States
76          in Liverpool, England, The United Kingdom
77          in Darby, Pennsylvania, The United States
78              in St. Petersburg, Russian Federation
80                                    in Ulm, Germany
84  in Steventon Rectory, Hampshire, The United Ki...
89                                in Belfast, Ireland
90  in Yate, South Gloucestershire, England, The U...
91          in Seattle, Washington, The United States
92  in Kirriemuir, Angus, Scotland, The United Kin...
93     in Cambridge, Massachusetts, The United States
94                              in Kabul, Afghanistan
95         in Monroeville, Alabama, The United States
96      in New York City, New York, The United States
97            in Florida, Missouri, The United States
98              in Springfield, MA, The United States
99          in Bayonne, New Jersey, The United States

### Source 2: Author Key Data
For each of the 50 authors previously identified, you are to merge a key and gender value available
from a CSV file with the author data from *Source 1*.

```
CSV File: *author_key_file.csv*
```
#### Tasks
1. The author names are unique in both
data sources and thus may be used to associate the *key* and *gender* attribute values with the author.
3. Once you have completed the merge, convert the *key* column to be the dataframe's row index.

In [2]:

from requests.exceptions import HTTPError
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from urllib.parse import urljoin

def simple_get(url, *args, **kwargs):
    """
    Attempts to get the content at `url` by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

allpage=[]      
def get_allurl2(url):
    resp = simple_get(url, timeout=5)
    html = resp.text
    soup = BeautifulSoup(html, 'html.parser') 
    
    li = soup.find('li', class_='next')
    if li is not None:      
        pgurl = urljoin(url, li.a['href'])  
        allpage.append(pgurl)
        
        get_allurl2(pgurl)

def who_actors(allurl):
    
    author = []
    author_date = []
    author_location = []
    for url in allurl:
    
        resp = simple_get(url, timeout=5)
        html = resp.text

        soup = BeautifulSoup(html, 'html.parser')

        body_tag = soup.body

        tag = soup.find_all("div", class_="quote")

        for t in tag:
            a = t.find("small", class_="author")
            author.append(a.text)
            #print("author testing")
            #print(a.text)

            link = allurl[0]+ t.a["href"]
            #print(link)
            result = requests.get(link)
            soup_loop = BeautifulSoup(result.text, 'html.parser')
            auth_date = soup_loop.find("span", class_="author-born-date")
            author_date.append(auth_date.text)
            auth_location = soup_loop.find("span", class_="author-born-location")
            author_location.append(auth_location.text)

        #print(author)
        #print(author_date)
        #print(author_location)
    output = pd.DataFrame({'author': author, 'Author_Birth_Date': author_date,  "Author_Birth_Location": author_location})
    newoutput=output.drop_duplicates(subset='author', keep="last")
    newoutput.reset_index(drop=True)
    return newoutput

        #for p in soup.find_all("span", class_ = "author"):
            #print(p.text)

        #for img in soup.find_all('img', title=re.compile(r'^Slide\s+\d+:\s+[A-Z]')):
            #print("here is test2")
            #print(img)

        #print("here is testing")
        #print(soup.findAll("article", class_ = "product_pod"))

        #url_main_page = [EW_URL+x.div.a.get('href') for x in soup.findAll("article", class_ = "product_pod")]
    
def main():
    allpage.append(EW_URL)
    get_allurl2(EW_URL)
    #print(allpage)
    author_pd = who_actors(allpage)
    
    t  = pd.read_csv('author_key_file.csv', delimiter=",", skiprows = [4]) 
    dfinal = author_pd.merge(t, how='left', left_on='author', right_on='name')
    
    dfinal.set_index('key', inplace = True)
    print(dfinal)
    return dfinal

dfinal = main()
t  = pd.read_csv('author_key_file.csv', delimiter=",", skiprows = [4]) 
t

                          author   Author_Birth_Date  \
key
QW5kcmUt              André Gide   November 22, 1869
VGhvbWFz        Thomas A. Edison   February 11, 1847
U3RldmUt            Steve Martin     August 14, 1945
RG91Z2xh           Douglas Adams      March 11, 1952
RWxpZS1X             Elie Wiesel  September 30, 1928
RnJpZWRy     Friedrich Nietzsche    October 15, 1844
QWxsZW4t          Allen Saunders      April 24, 1899
UGFibG8t            Pablo Neruda       July 12, 1904
R2Fycmlz        Garrison Keillor     August 07, 1942
SmltLUhl              Jim Henson  September 24, 1936
Qm9iLU1h              Bob Marley   February 06, 1945
TW90aGVy           Mother Teresa     August 26, 1910
Q3hhcmxl       Charles M. Schulz   November 26, 1922
V2lsbGlh       William Nicholson    January 12, 1948
Sm9yZ2Ut       Jorge Luis Borges     August 24, 1899
R4Vvcmdl            George Eliot   November 22, 1819
TWFydGlu  Martin Luther King Jr.    January 15, 1929
SmFtZXMt           James Baldwin     August 02, 1924
RWxlYW5v       Eleanor Roosevelt    October 11, 1884
TWFyaWx5          Marilyn Monroe       June 01, 1926
SGFydWtp         Haruki Murakami    January 12, 1949
QWxleGFu    Alexandre Dumas fils       July 27, 1824
U3RlcGhl         Stephenie Meyer   December 24, 1973
SGVsZW4t            Helen Keller       June 27, 1880
R2Vvcmdl     George Bernard Shaw       July 26, 1856
U3V6YW5u         Suzanne Collins     August 11, 1962
Si1SLVIt          J.R.R. Tolkien    January 03, 1892
RXJuZXN0        Ernest Hemingway       July 21, 1899
UmFscGgt     Ralph Waldo Emerson        May 25, 1803
QWxmcmVk         Alfred Tennyson     August 06, 1809
Q2hhcmxl        Charles Bukowski     August 16, 1920
VGVycnkt         Terry Pratchett      April 28, 1948
Si1ELVNh           J.D. Salinger    January 01, 1919
R3Vvcmdl           George Carlin        May 12, 1937
Sm9obi1M             John Lennon    October 09, 1940
Vy1DLUZp             W.C. Fields    January 29, 1880
QXluLVJh                Ayn Rand   February 02, 1905
QWxiZXJ0         Albert Einstein      March 14, 1879
SmFuZS1B             Jane Austen   December 16, 1775
Qy1TLUxl              C.S. Lewis   November 29, 1898
Si1LLVJv            J.K. Rowling       July 31, 1965
SmltaS1I            Jimi Hendrix   November 27, 1942
Si1NLUJh             J.M. Barrie        May 09, 1860
RS1FLUN1           E.E. Cummings    October 14, 1894
S2hhbGVk         Khaled Hosseini      March 04, 1965
SGFycGVy              Harper Lee      April 28, 1926
TWFkZWxl       Madeleine L'Engle   November 29, 1918
TWFyay1U              Mark Twain   November 30, 1835
RHItU2V1               Dr. Seuss      March 02, 1904
R5Vvcmdl      George R.R. Martin  September 20, 1948

                                      Author_Birth_Location  \
key
QW5kcmUt                                   in Paris, France
VGhvbWFz                  in Milan, Ohio, The United States
U3RldmUt                  in Waco, Texas, The United States
RG91Z2xh          in Cambridge, England, The United Kingdom
RWxpZS1X                                 in Sighet, Romania
RnJpZWRy  in Röcken bei Lützen, Prussian Province of Sax...
QWxsZW4t                               in The United States
UGFibG8t                                   in Parral, Chile
R2Fycmlz             in Anoka, Minnesota, The United States
SmltLUhl      in Greenville, Mississippi, The United States
Qm9iLU1h                   in Nine Mile, Saint Ann, Jamaica
TW90aGVy  in Skopje, Macedonia, the Former Yugoslav Repu...
Q3hhcmxl              in Minneapolis, MN, The United States
V2lsbGlh               in Lewes, Sussex, The United Kingdom
Sm9yZ2Ut                         in Buenos Aires, Argentina
R4Vvcmdl  in South Farm, Arbury Hall, Nuneaton, Warwicks...
TWFydGlu             in Atlanta, Georgia, The United States
SmFtZXMt             in Harlem, New York, The United States
RWxlYW5v                               in The United States
TWFyaWx5                               in The United States
SGFydWtp                                    in Kyoto, Japan
QWxleGFu                                   in Paris, France
U3RlcGhl                  in Connecticut, The United States
SGVsZW4t           in Tuscumbia, Alabama, The United States
R2Vvcmdl                                 in Dublin, Ireland
U3V6YW5u        in Hartford, Connecticut, The United States
Si1SLVIt  in Bloemfontein, Mangaung, Free State, South A...
RXJuZXN0           in Oak Park, Illinois, The United States
UmFscGgt        in Boston, Massachusetts, The United States
QWxmcmVk      in Somersby, Lincolnshire, The United Kingdom
Q2hhcmxl                              in Andernach, Germany
VGVycnkt  in Beaconsfield, Buckinghamshire, England, The...
Si1ELVNh          in Manhattan, New York, The United States
R3Vvcmdl           in New York, New York, The United States
Sm9obi1M          in Liverpool, England, The United Kingdom
Vy1DLUZp          in Darby, Pennsylvania, The United States
QXluLVJh              in St. Petersburg, Russian Federation
QWxiZXJ0                                    in Ulm, Germany
SmFuZS1B  in Steventon Rectory, Hampshire, The United Ki...
Qy1TLUxl                                in Belfast, Ireland
Si1LLVJv  in Yate, South Gloucestershire, England, The U...
SmltaS1I          in Seattle, Washington, The United States
Si1NLUJh  in Kirriemuir, Angus, Scotland, The United Kin...
RS1FLUN1     in Cambridge, Massachusetts, The United States
S2hhbGVk                              in Kabul, Afghanistan
SGFycGVy         in Monroeville, Alabama, The United States
TWFkZWxl      in New York City, New York, The United States
TWFyay1U            in Florida, Missouri, The United States
RHItU2V1              in Springfield, MA, The United States
R5Vvcmdl          in Bayonne, New Jersey, The United States

                            name gender
key
QW5kcmUt              André Gide      M
VGhvbWFz        Thomas A. Edison      M
U3RldmUt            Steve Martin      M
RG91Z2xh           Douglas Adams      M
RWxpZS1X             Elie Wiesel      M
RnJpZWRy     Friedrich Nietzsche      M
QWxsZW4t          Allen Saunders      M
UGFibG8t            Pablo Neruda      M
R2Fycmlz        Garrison Keillor      M
SmltLUhl              Jim Henson      M
Qm9iLU1h              Bob Marley      M
TW90aGVy           Mother Teresa      F
Q3hhcmxl       Charles M. Schulz      M
V2lsbGlh       William Nicholson      M
Sm9yZ2Ut       Jorge Luis Borges      M
R4Vvcmdl            George Eliot      F
TWFydGlu  Martin Luther King Jr.      M
SmFtZXMt           James Baldwin      M
RWxlYW5v       Eleanor Roosevelt      F
TWFyaWx5          Marilyn Monroe      F
SGFydWtp         Haruki Murakami      M
QWxleGFu    Alexandre Dumas fils      M
U3RlcGhl         Stephenie Meyer      F
SGVsZW4t            Helen Keller      F
R2Vvcmdl     George Bernard Shaw      M
U3V6YW5u         Suzanne Collins      F
Si1SLVIt          J.R.R. Tolkien      M
RXJuZXN0        Ernest Hemingway      M
UmFscGgt     Ralph Waldo Emerson      M
QWxmcmVk         Alfred Tennyson      M
Q2hhcmxl        Charles Bukowski      M
VGVycnkt         Terry Pratchett      M
Si1ELVNh           J.D. Salinger      M
R3Vvcmdl           George Carlin      M
Sm9obi1M             John Lennon      M
Vy1DLUZp             W.C. Fields      M
QXluLVJh                Ayn Rand      F
QWxiZXJ0         Albert Einstein      M
SmFuZS1B             Jane Austen      F
Qy1TLUxl              C.S. Lewis      M
Si1LLVJv            J.K. Rowling      F
SmltaS1I            Jimi Hendrix      M
Si1NLUJh             J.M. Barrie      M
RS1FLUN1           E.E. Cummings      M
S2hhbGVk         Khaled Hosseini      M
SGFycGVy              Harper Lee      F
TWFkZWxl       Madeleine L'Engle      F
TWFyay1U              Mark Twain      M
RHItU2V1               Dr. Seuss      M
R5Vvcmdl      George R.R. Martin      M

                      name       key gender
0          Albert Einstein  QWxiZXJ0      M
1     Alexandre Dumas-fils  QWxleGFu      M
2     Alexandre Dumas fils  QWxleGFu      M
3          Alfred Tennyson  QWxmcmVk      M
4           Allen Saunders  QWxsZW4t      M
5               André Gide  QW5kcmUt      M
6                 Ayn Rand  QXluLVJh      F
7               Bob Marley  Qm9iLU1h      M
8               C.S. Lewis  Qy1TLUxl      M
9         Charles Bukowski  Q2hhcmxl      M
10       Charles M. Schulz  Q3hhcmxl      M
11           Douglas Adams  RG91Z2xh      M
12               Dr. Seuss  RHItU2V1      M
13           E.E. Cummings  RS1FLUN1      M
14       Eleanor Roosevelt  RWxlYW5v      F
15             Elie Wiesel  RWxpZS1X      M
16        Ernest Hemingway  RXJuZXN0      M
17     Friedrich Nietzsche  RnJpZWRy      M
18        Garrison Keillor  R2Fycmlz      M
19     George Bernard Shaw  R2Vvcmdl      M
20           George Carlin  R3Vvcmdl      M
21            George Eliot  R4Vvcmdl      F
22      George R.R. Martin  R5Vvcmdl      M
23              Harper Lee  SGFycGVy      F
24         Haruki Murakami  SGFydWtp      M
25            Helen Keller  SGVsZW4t      F
26           J.D. Salinger  Si1ELVNh      M
27            J.K. Rowling  Si1LLVJv      F
28             J.M. Barrie  Si1NLUJh      M
29          J.R.R. Tolkien  Si1SLVIt      M
30           James Baldwin  SmFtZXMt      M
31             Jane Austen  SmFuZS1B      F
32              Jim Henson  SmltLUhl      M
33            Jimi Hendrix  SmltaS1I      M
34             John Lennon  Sm9obi1M      M
35       Jorge Luis Borges  Sm9yZ2Ut      M
36         Khaled Hosseini  S2hhbGVk      M
37       Madeleine L'Engle  TWFkZWxl      F
38          Marilyn Monroe  TWFyaWx5      F
39              Mark Twain  TWFyay1U      M
40  Martin Luther King Jr.  TWFydGlu      M
41           Mother Teresa  TW90aGVy      F
42            Pablo Neruda  UGFibG8t      M
43     Ralph Waldo Emerson  UmFscGgt      M
44         Stephenie Meyer  U3RlcGhl      F
45            Steve Martin  U3RldmUt      M
46         Suzanne Collins  U3V6YW5u      F
47         Terry Pratchett  VGVycnkt      M
48        Thomas A. Edison  VGhvbWFz      M
49             W.C. Fields  Vy1DLUZp      M
50       William Nicholson  V2lsbGlh      M

### Source 3: Author Location Data
This direct download XML data source contains the location information that will be used
to direct app users to the historical sites associated with each author.  The *id*
tag can be used to match the previously assembled author data (ie, the *key* attribute) with
the author location data.

You are to retain all of the location attributes (excluding *id* - which will be a
duplicate of the existing *key* attribute) from this data source to extend the
previously collected author data.

```
Direct Download URL: https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml
Data Format: XML
Encoding: UTF-8
```
#### Tasks
1. Ingest the XML data into a pandas dataframe
2. Use the pandas dataframe merge method to join the new dataframe
with the Source 1+2 dataframe.
3. *Source 3* contains location data for many public figures in addition
to the 50 authors in which we are currently interested. You must restrict your
final Source 3 dataframe to our 50 authors.

In [3]:
import pandas as pd
#import numpy as np

in_file = 'author_location_data.xml'
EW_URL = "https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml"
df = pd.read_xml(in_file, encoding='utf-8')
df2 = pd.read_xml(EW_URL, encoding='utf-8')
#print(df2)
df3 = df2.set_index('id')
#print(df3)

#print(df2)
dfinal_location = dfinal.merge(df3, how='left',  left_index = True, right_index = True)
dfinal_location
print(dfinal_location)
print(dfinal_location.shape)

                          author   Author_Birth_Date  \
key
QW5kcmUt              André Gide   November 22, 1869
VGhvbWFz        Thomas A. Edison   February 11, 1847
U3RldmUt            Steve Martin     August 14, 1945
RG91Z2xh           Douglas Adams      March 11, 1952
RWxpZS1X             Elie Wiesel  September 30, 1928
RnJpZWRy     Friedrich Nietzsche    October 15, 1844
QWxsZW4t          Allen Saunders      April 24, 1899
UGFibG8t            Pablo Neruda       July 12, 1904
R2Fycmlz        Garrison Keillor     August 07, 1942
SmltLUhl              Jim Henson  September 24, 1936
Qm9iLU1h              Bob Marley   February 06, 1945
TW90aGVy           Mother Teresa     August 26, 1910
Q3hhcmxl       Charles M. Schulz   November 26, 1922
V2lsbGlh       William Nicholson    January 12, 1948
Sm9yZ2Ut       Jorge Luis Borges     August 24, 1899
R4Vvcmdl            George Eliot   November 22, 1819
TWFydGlu  Martin Luther King Jr.    January 15, 1929
SmFtZXMt           James Baldwin     August 02, 1924
RWxlYW5v       Eleanor Roosevelt    October 11, 1884
TWFyaWx5          Marilyn Monroe       June 01, 1926
SGFydWtp         Haruki Murakami    January 12, 1949
QWxleGFu    Alexandre Dumas fils       July 27, 1824
U3RlcGhl         Stephenie Meyer   December 24, 1973
SGVsZW4t            Helen Keller       June 27, 1880
R2Vvcmdl     George Bernard Shaw       July 26, 1856
U3V6YW5u         Suzanne Collins     August 11, 1962
Si1SLVIt          J.R.R. Tolkien    January 03, 1892
RXJuZXN0        Ernest Hemingway       July 21, 1899
UmFscGgt     Ralph Waldo Emerson        May 25, 1803
QWxmcmVk         Alfred Tennyson     August 06, 1809
Q2hhcmxl        Charles Bukowski     August 16, 1920
VGVycnkt         Terry Pratchett      April 28, 1948
Si1ELVNh           J.D. Salinger    January 01, 1919
R3Vvcmdl           George Carlin        May 12, 1937
Sm9obi1M             John Lennon    October 09, 1940
Vy1DLUZp             W.C. Fields    January 29, 1880
QXluLVJh                Ayn Rand   February 02, 1905
QWxiZXJ0         Albert Einstein      March 14, 1879
SmFuZS1B             Jane Austen   December 16, 1775
Qy1TLUxl              C.S. Lewis   November 29, 1898
Si1LLVJv            J.K. Rowling       July 31, 1965
SmltaS1I            Jimi Hendrix   November 27, 1942
Si1NLUJh             J.M. Barrie        May 09, 1860
RS1FLUN1           E.E. Cummings    October 14, 1894
S2hhbGVk         Khaled Hosseini      March 04, 1965
SGFycGVy              Harper Lee      April 28, 1926
TWFkZWxl       Madeleine L'Engle   November 29, 1918
TWFyay1U              Mark Twain   November 30, 1835
RHItU2V1               Dr. Seuss      March 02, 1904
R5Vvcmdl      George R.R. Martin  September 20, 1948

                                      Author_Birth_Location  \
key
QW5kcmUt                                   in Paris, France
VGhvbWFz                  in Milan, Ohio, The United States
U3RldmUt                  in Waco, Texas, The United States
RG91Z2xh          in Cambridge, England, The United Kingdom
RWxpZS1X                                 in Sighet, Romania
RnJpZWRy  in Röcken bei Lützen, Prussian Province of Sax...
QWxsZW4t                               in The United States
UGFibG8t                                   in Parral, Chile
R2Fycmlz             in Anoka, Minnesota, The United States
SmltLUhl      in Greenville, Mississippi, The United States
Qm9iLU1h                   in Nine Mile, Saint Ann, Jamaica
TW90aGVy  in Skopje, Macedonia, the Former Yugoslav Repu...
Q3hhcmxl              in Minneapolis, MN, The United States
V2lsbGlh               in Lewes, Sussex, The United Kingdom
Sm9yZ2Ut                         in Buenos Aires, Argentina
R4Vvcmdl  in South Farm, Arbury Hall, Nuneaton, Warwicks...
TWFydGlu             in Atlanta, Georgia, The United States
SmFtZXMt             in Harlem, New York, The United States
RWxlYW5v                               in The United States
TWFyaWx5                               in The United States
SGFydWtp                                    in Kyoto, Japan
QWxleGFu                                   in Paris, France
U3RlcGhl                  in Connecticut, The United States
SGVsZW4t           in Tuscumbia, Alabama, The United States
R2Vvcmdl                                 in Dublin, Ireland
U3V6YW5u        in Hartford, Connecticut, The United States
Si1SLVIt  in Bloemfontein, Mangaung, Free State, South A...
RXJuZXN0           in Oak Park, Illinois, The United States
UmFscGgt        in Boston, Massachusetts, The United States
QWxmcmVk      in Somersby, Lincolnshire, The United Kingdom
Q2hhcmxl                              in Andernach, Germany
VGVycnkt  in Beaconsfield, Buckinghamshire, England, The...
Si1ELVNh          in Manhattan, New York, The United States
R3Vvcmdl           in New York, New York, The United States
Sm9obi1M          in Liverpool, England, The United Kingdom
Vy1DLUZp          in Darby, Pennsylvania, The United States
QXluLVJh              in St. Petersburg, Russian Federation
QWxiZXJ0                                    in Ulm, Germany
SmFuZS1B  in Steventon Rectory, Hampshire, The United Ki...
Qy1TLUxl                                in Belfast, Ireland
Si1LLVJv  in Yate, South Gloucestershire, England, The U...
SmltaS1I          in Seattle, Washington, The United States
Si1NLUJh  in Kirriemuir, Angus, Scotland, The United Kin...
RS1FLUN1     in Cambridge, Massachusetts, The United States
S2hhbGVk                              in Kabul, Afghanistan
SGFycGVy         in Monroeville, Alabama, The United States
TWFkZWxl      in New York City, New York, The United States
TWFyay1U            in Florida, Missouri, The United States
RHItU2V1              in Springfield, MA, The United States
R5Vvcmdl          in Bayonne, New Jersey, The United States

                            name gender    price  bedrooms  bathrooms  \
key
QW5kcmUt              André Gide      M   425000         3       1.75
VGhvbWFz        Thomas A. Edison      M   179900         2       1.00
U3RldmUt            Steve Martin      M   761000         3       3.50
RG91Z2xh           Douglas Adams      M   528000         3       2.50
RWxpZS1X             Elie Wiesel      M   418395         4       2.50
RnJpZWRy     Friedrich Nietzsche      M   630000         4       2.75
QWxsZW4t          Allen Saunders      M   264950         2       1.00
UGFibG8t            Pablo Neruda      M  1295000         4       3.50
R2Fycmlz        Garrison Keillor      M   247500         4       1.75
SmltLUhl              Jim Henson      M   325000         4       1.00
Qm9iLU1h              Bob Marley      M   307150         3       1.50
TW90aGVy           Mother Teresa      F   410000         4       2.00
Q3hhcmxl       Charles M. Schulz      M   134000         2       1.50
V2lsbGlh       William Nicholson      M   315000         3       1.75
Sm9yZ2Ut       Jorge Luis Borges      M   390000         3       1.00
R4Vvcmdl            George Eliot      F   260000         4       2.00
TWFydGlu  Martin Luther King Jr.      M   291600         3       1.75
SmFtZXMt           James Baldwin      M   660000         3       1.75
RWxlYW5v       Eleanor Roosevelt      F   420000         3       1.75
TWFyaWx5          Marilyn Monroe      F  2480000         4       5.00
SGFydWtp         Haruki Murakami      M   292000         3       2.50
QWxleGFu    Alexandre Dumas fils      M   576750         3       2.00
U3RlcGhl         Stephenie Meyer      F   200000         4       2.00
SGVsZW4t            Helen Keller      F   396000         3       1.75
R2Vvcmdl     George Bernard Shaw      M   525000         4       2.50
U3V6YW5u         Suzanne Collins      F   530000         3       2.50
Si1SLVIt          J.R.R. Tolkien      M   792500         3       1.50
RXJuZXN0        Ernest Hemingway      M   368000         3       1.75
UmFscGgt     Ralph Waldo Emerson      M   230000         4       1.50
QWxmcmVk         Alfred Tennyson      M   565000         3       1.75
Q2hhcmxl        Charles Bukowski      M   590000         4       1.50
VGVycnkt         Terry Pratchett      M   547000         2       1.00
Si1ELVNh           J.D. Salinger      M   291850         3       1.50
R3Vvcmdl           George Carlin      M   245000         3       1.75
Sm9obi1M             John Lennon      M   515000         2       1.00
Vy1DLUZp             W.C. Fields      M   425000         4       2.50
QXluLVJh                Ayn Rand      F   825000         4       2.75
QWxiZXJ0         Albert Einstein      M   699999         3       0.75
SmFuZS1B             Jane Austen      F   300000         3       2.50
Qy1TLUxl              C.S. Lewis      M   351000         4       2.50
Si1LLVJv            J.K. Rowling      F   415000         3       2.50
SmltaS1I            Jimi Hendrix      M   284200         3       1.75
Si1NLUJh             J.M. Barrie      M   515000         3       2.50
RS1FLUN1           E.E. Cummings      M   485000         4       2.00
S2hhbGVk         Khaled Hosseini      M   527500         4       2.25
SGFycGVy              Harper Lee      F   340500         3       2.00
TWFkZWxl       Madeleine L'Engle      F   296500         3       1.50
TWFyay1U              Mark Twain      M   673200         5       3.00
RHItU2V1               Dr. Seuss      M   550000         3       3.50
R5Vvcmdl      George R.R. Martin      M   378000         4       2.50

          sqft_living  sqft_lot  floors  waterfront  grade  yr_built      lat  \
key
QW5kcmUt         1530      9800     1.0           0      8      1958  37.6119
VGhvbWFz          680      6400     1.0           0      6      1943  47.7890
U3RldmUt         2050      2020     2.0           0      8      2006  42.0902
RG91Z2xh         2020      5613     2.0           0      7      2003  26.7401
RWxpZS1X         2906      5893     2.0           0      9      2014  37.3409
RnJpZWRy         2710     37277     2.0           0      9      2000  42.8802
QWxsZW4t          770      7434     1.0           0      6      1947  45.5305
UGFibG8t         3790     90169     2.0           0     11      1998  37.9752
R2Fycmlz         2290      7765     1.0           0      6      1936  44.5793
SmltLUhl         1400      9384     1.5           0      6      1948  32.3510
Qm9iLU1h         1480      6752     1.0           0      7      1959  32.7916
TW90aGVy         1580      9581     1.0           0      7      1953  37.4258
Q3hhcmxl          980      5000     2.0           0      7      1922  38.0329
V2lsbGlh         1970      8200     1.0           0      7      1964  48.7664
Sm9yZ2Ut         1000      6947     1.0           0      7      1947  34.0528
R4Vvcmdl         1620      7992     2.0           0      7      1975  37.6529
TWFydGlu         1630      7480     1.0           0      7      1979  38.8980
SmFtZXMt         1980      3300     1.5           0      7      1926  40.2753
RWxlYW5v         1770      6000     1.0           0      7      1952  34.6356
TWFyaWx5         5310     16909     1.0           0     12      1992  42.8802
SGFydWtp         1560      2740     2.0           0      8      1999  43.7253
QWxleGFu         2220      5000     1.0           0      7      1966  40.4316
U3RlcGhl         1920      4822     1.0           0      6      1914  21.3055
SGVsZW4t         2340      5668     1.0           0      6      1941  41.6780
R2Vvcmdl         3070      7200     2.0           0      8      2005  44.8604
U3V6YW5u         1970      6295     2.0           0      7      2011  32.5109
Si1SLVIt         1960      2400     2.0           0      8      1911  39.9560
RXJuZXN0         2120     11340     1.0           0      7      1966  40.1171
UmFscGgt         1050      9516     1.0           0      7      1969  35.5085
QWxmcmVk         1130      5111     1.0           0      7      1942  37.5303
Q2hhcmxl         2230      5109     1.5           0      7      1918  30.7139
VGVycnkt         1370     10038     1.5           0      7      1922  38.8624
Si1ELVNh         1060      9711     1.0           0      7      1963  44.2632
R3Vvcmdl         1920      9306     1.0           0      7      1984  32.9123
Sm9obi1M         1060      4960     1.0           0      7      1926  39.7759
Vy1DLUZp         2390      5021     2.0           0      7      2002  18.4008
QXluLVJh         3990      6637     2.0           0      9      2003  37.3554
QWxiZXJ0         1240      4000     1.0           0      7      1968  40.7123
SmFuZS1B         2540      5050     2.0           0      7      2006  33.9784
Qy1TLUxl         2370      7274     2.0           0      7      1997  31.4700
Si1LLVJv         1060      1536     2.0           0      8      2000  38.8778
SmltaS1I         1540      6632     1.0           0      7      1959  39.9894
Si1NLUJh         3000      8250     1.0           0      8      1963  35.9007
RS1FLUN1         1400      3600     1.0           0      7      1900  45.4517
S2hhbGVk         2270      8480     1.0           0      8      1973  38.9148
SGFycGVy         2270     28025     1.0           0      7      1947  38.9532
TWFkZWxl         1580     10100     1.0           0      7      1961  38.8680
TWFyay1U         4180      8561     2.0           0      7      2003  40.0528
RHItU2V1         2490      3582     2.0           0      8      2005  42.6669
R5Vvcmdl         1890     12236     1.0           0      7      1978  40.8348

              long
key
QW5kcmUt  -82.7187
VGhvbWFz -117.0142
U3RldmUt  -72.0532
RG91Z2xh  -80.1104
RWxpZS1X  -85.3317
RnJpZWRy  -78.8432
QWxsZW4t -102.7918
UGFibG8t  -89.0421
R2Fycmlz  -71.1740
SmltLUhl  -86.2743
Qm9iLU1h  -96.7526
TW90aGVy  -96.9173
Q3hhcmxl  -78.4703
V2lsbGlh  -94.9439
Sm9yZ2Ut -117.2339
R4Vvcmdl  -75.6611
TWFydGlu  -77.0233
SmFtZXMt  -76.8711
RWxlYW5v -102.7123
TWFyaWx5  -78.8432
SGFydWtp  -97.5880
QWxleGFu  -89.3043
U3RlcGhl -157.8447
SGVsZW4t  -73.7979
R2Vvcmdl  -72.5842
U3V6YW5u  -92.1363
Si1SLVIt  -75.1506
RXJuZXN0  -90.5572
UmFscGgt  -80.8206
QWxmcmVk  -82.6206
Q2hhcmxl  -86.0386
VGVycnkt -104.7565
Si1ELVNh  -88.3846
R3Vvcmdl  -96.6182
Sm9obi1M  -86.1383
Vy1DLUZp  -66.0534
QXluLVJh  -90.6879
QWxiZXJ0  -94.0385
SmFuZS1B -117.0405
Qy1TLUxl  -92.7651
Si1LLVJv  -77.0672
SmltaS1I  -81.1697
Si1NLUJh  -80.7921
RS1FLUN1 -122.6901
S2hhbGVk  -75.4267
SGFycGVy  -76.9472
TWFkZWxl -104.7562
TWFyay1U  -84.1107
RHItU2V1  -73.7866
R5Vvcmdl  -74.2650
(50, 16)

### Source 4: Zip Code API
You may have observed that the *Source 3* data does not include the city and zip code information for
the property locations for our 50 authors.  Your task is the use the latitude and longitude
values from the *Source 3* data to locate the city and zip code information and incorporate
that information into your dataframe.

The USPS maintains data related to all US zip codes and their centroid latitude and longitude.  The
*Source 3* data contains the latitude and longitude information (the lat and long tags) for the
author locations. Your task
is to use the *Source 3* latitude and longitude values as an argument to the zip code api in order to
to augment your dataframe with the city name and zip code of the authors' locations.

The ZIP code API contains ZIP codes for the
continental United States, Alaska, Hawaii, Puerto Rico, and American Samoa.
The API provides data in JSON format values for for ZIP code, city, latitude, longitude,
timezone (offset from GMT).

The relevant zip code API URL and parameters are shown in the table below.


API Information and Parameters | Value
---------------------|------
Dataset Name | US Zip Codes Points- United States of America
Dataset Overview | https://public.opendatasoft.com/explore/dataset/georef-united-states-of-america-zc-point/information/
API Documentation | https://public.opendatasoft.com/explore/dataset/georef-united-states-of-america-zc-point/api/
API URL | https://public.opendatasoft.com/api/records/1.0/search/
dataset (parameter) | georef-united-states-of-america-zc-point
rows (parameter) | 100
geofilter.distance (parameter) | Distance value must by at least 10 kilometers
Geofilter Documentation | https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#geo-filtering

Use the interactive OpenAPI interface available at the API Documentation URL to review the JSON data
returned by a properly constructed query.

#### Tasks
The long and lat values from *Source 3* are the exact longitude and latitude values for a
single property location.  As such, it is unlikely that you will find an exact match from the
zip code API using these values. Instead, you must:

1. round the lat and long values to 2 decimal place
2. invoke the API requesting all zip code related data within 10 kilometers from the
rounded lat and long values. (Refer to the *q* or *geofilter.distance* parameter documentation listed above.)
3. If the returned JSON results indicate more that one candidate record has been returned, you
must determine which record's longitude and latitude are the **closest** to the *Source 3*
long and lat values.
<br/><br/>There are several ways to accomplish this. For example, you could calculate the distance between the
each result's longitude,latitude values and the the long, lat values from *Source 3*. The
distance between the values can be calculated using the Pythagorean Theorem as follows: <br/>
&radic;( (lon<sub>1</sub>-lon<sub>2</sub>)<sup>2</sup> + (lat<sub>1</sub>-lat<sub>2</sub>)<sup>2</sup> )
 <br/><br/> Another, far better, approach involves a paying careful attention *dist* name,value pair
 located in the fields object of the returned JSON data and how that field may be used in the *sort*
 parameter and how its use impacts the returned results. This is a hint...
4. Use the city and zip code that are associated with the result having the
 minimum distance from (closest to) the *Source 3* long, lat values.

In [5]:
import numpy as np
import requests
from requests.exceptions import HTTPError
import json
from pprint import pprint

lat_l = dfinal_location["lat"].tolist()
long_l = dfinal_location["long"].tolist()
lat_l = list(np.around(np.array(lat_l),2))
long_l =  list(np.around(np.array(long_l),2))

di = 10000

zip_all = []
city_all = []
for i in range(50):
    t = str(lat_l[i]) + "," " " + str(long_l[i]) + "," + " " + str(di)

    parameters = {
    "dataset":"georef-united-states-of-america-zc-point",
    "timezone":"UTC",
    "rows":10,
    "start":0,
    "format":"json",
    "geofilter.distance":[t],
    "facet":[
    "stusps_code",
    "ste_name",
    "coty_name",
    "cty_code"
    ]
    }

    URL = 'https://public.opendatasoft.com/api/records/1.0/search/'

    response = requests.get(URL, params=parameters)

    json_as_py = response.json()
    
    api_code = json_as_py['records'][0]['fields']['cty_code']
    api_city = json_as_py['records'][0]['fields']['usps_city']
    zip_all.append(api_code)
    city_all.append(api_city)
    
dfinal_location['city_usps'] = city_all
dfinal_location['zip_usps'] = zip_all
dfinal_location

,author,Author_Birth_Date,Author_Birth_Location,name,gender,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,lat,long,city_usps,zip_usps
key,,,,,,,,,,,,,,,,,,
QW5kcmUt,André Gide,"November 22, 1869","in Paris, France",André Gide,M,425000,3,1.75,1530,9800,1.0,0,8,1958,37.6119,-82.7187,Allen,21071
VGhvbWFz,Thomas A. Edison,"February 11, 1847","in Milan, Ohio, The United States",Thomas A. Edison,M,179900,2,1.00,680,6400,1.0,0,6,1943,47.7890,-117.0142,Newman Lake,53063
U3RldmUt,Steve Martin,"August 14, 1945","in Waco, Texas, The United States",Steve Martin,M,761000,3,3.50,2050,2020,2.0,0,8,2006,42.0902,-72.0532,Sturbridge,25027
RG91Z2xh,Douglas Adams,"March 11, 1952","in Cambridge, England, The United Kingdom",Douglas Adams,M,528000,3,2.50,2020,5613,2.0,0,7,2003,26.7401,-80.1104,West Palm Beach,12099
RWxpZS1X,Elie Wiesel,"September 30, 1928","in Sighet, Romania",Elie Wiesel,M,418395,4,2.50,2906,5893,2.0,0,9,2014,37.3409,-85.3317,Campbellsville,21217|21155|21087|21123
RnJpZWRy,Friedrich Nietzsche,"October 15, 1844","in Röcken bei Lützen, Prussian Province of Sax...",Friedrich Nietzsche,M,630000,4,2.75,2710,37277,2.0,0,9,2000,42.8802,-78.8432,Buffalo,36029
QWxsZW4t,Allen Saunders,"April 24, 1899",in The United States,Allen Saunders,M,264950,2,1.00,770,7434,1.0,0,6,1947,45.5305,-102.7918,Prairie City,46105|46063
UGFibG8t,Pablo Neruda,"July 12, 1904","in Parral, Chile",Pablo Neruda,M,1295000,4,3.50,3790,90169,2.0,0,11,1998,37.9752,-89.0421,Christopher,17055
R2Fycmlz,Garrison Keillor,"August 07, 1942","in Anoka, Minnesota, The United States",Garrison Keillor,M,247500,4,1.75,2290,7765,1.0,0,6,1936,44.5793,-71.1740,Milan,33007
SmltLUhl,Jim Henson,"September 24, 1936","in Greenville, Mississippi, The United States",Jim Henson,M,325000,4,1.00,1400,9384,1.5,0,6,1948,32.3510,-86.2743,Montgomery,1101
Qm9iLU1h,Bob Marley,"February 06, 1945","in Nine Mile, Saint Ann, Jamaica",Bob Marley,M,307150,3,1.50,1480,6752,1.0,0,7,1959,32.7916,-96.7526,Dallas,48113
TW90aGVy,Mother Teresa,"August 26, 1910","in Skopje, Macedonia, the Former Yugoslav Repu...",Mother Teresa,F,410000,4,2.00,1580,9581,1.0,0,7,1953,37.4258,-96.9173,Rock,20035
Q3hhcmxl,Charles M. Schulz,"November 26, 1922","in Minneapolis, MN, The United States",Charles M. Schulz,M,134000,2,1.50,980,5000,2.0,0,7,1922,38.0329,-78.4703,Charlottesville,51003|51540
V2lsbGlh,William Nicholson,"January 12, 1948","in Lewes, Sussex, The United Kingdom",William Nicholson,M,315000,3,1.75,1970,8200,1.0,0,7,1964,48.7664,-94.9439,Williams,27077
Sm9yZ2Ut,Jorge Luis Borges,"August 24, 1899","in Buenos Aires, Argentina",Jorge Luis Borges,M,390000,3,1.00,1000,6947,1.0,0,7,1947,34.0528,-117.2339,Loma Linda,6071
R4Vvcmdl,George Eliot,"November 22, 1819","in South Farm, Arbury Hall, Nuneaton, Warwicks...",George Eliot,F,260000,4,2.00,1620,7992,2.0,0,7,1975,37.6529,-75.6611,Onley,51001
TWFydGlu,Martin Luther King Jr.,"January 15, 1929","in Atlanta, Georgia, The United States",Martin Luther King Jr.,M,291600,3,1.75,1630,7480,1.0,0,7,1979,38.8980,-77.0233,Washington,11001
SmFtZXMt,James Baldwin,"August 02, 1924","in Harlem, New York, The United States",James Baldwin,M,660000,3,1.75,1980,3300,1.5,0,7,1926,40.2753,-76.8711,Harrisburg,42043
RWxlYW5v,Eleanor Roosevelt,"October 11, 1884",in The United States,Eleanor Roosevelt,F,420000,3,1.75,1770,6000,1.0,0,7,1952,34.6356,-102.7123,Friona,48369|48117
TWFyaWx5,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe,F,2480000,4,5.00,5310,16909,1.0,0,12,1992,42.8802,-78.8432,Buffalo,36029
SGFydWtp,Haruki Murakami,"January 12, 1949","in Kyoto, Japan",Haruki Murakami,M,292000,3,2.50,1560,2740,2.0,0,8,1999,43.7253,-97.5880,Spencer,46087|46061
QWxleGFu,Alexandre Dumas fils,"July 27, 1824","in Paris, France",Alexandre Dumas fils,M,576750,3,2.00,2220,5000,1.0,0,7,1966,40.4316,-89.3043,Minier,17179
U3RlcGhl,Stephenie Meyer,"December 24, 1973","in Connecticut, The United States",Stephenie Meyer,F,200000,4,2.00,1920,4822,1.0,0,6,1914,21.3055,-157.8447,Honolulu,15003
SGVsZW4t,Helen Keller,"June 27, 1880","in Tuscumbia, Alabama, The United States",Helen Keller,F,396000,3,1.75,2340,5668,1.0,0,6,1941,41.6780,-73.7979,Poughkeepsie,36027
R2Vvcmdl,George Bernard Shaw,"July 26, 1856","in Dublin, Ireland",George Bernard Shaw,M,525000,4,2.50,3070,7200,2.0,0,8,2005,44.8604,-72.5842,Montgomery Center,50011|50019
U3V6YW5u,Suzanne Collins,"August 11, 1962","in Hartford, Connecticut, The United States",Suzanne Collins,F,530000,3,2.50,1970,6295,2.0,0,7,2011,32.5109,-92.1363,Monroe,22073
Si1SLVIt,J.R.R. Tolkien,"January 03, 1892","in Bloemfontein, Mangaung, Free State, South A...",J.R.R. Tolkien,M,792500,3,1.50,1960,2400,2.0,0,8,1911,39.9560,-75.1506,Philadelphia,42101
RXJuZXN0,Ernest Hemingway,"July 21, 1899","in Oak Park, Illinois, The United States",Ernest Hemingway,M,368000,3,1.75,2120,11340,1.0,0,7,1966,40.1171,-90.5572,Rushville,17169
UmFscGgt,Ralph Waldo Emerson,"May 25, 1803","in Boston, Massachusetts, The United States",Ralph Waldo Emerson,M,230000,4,1.50,1050,9516,1.0,0,7,1969,35.5085,-80.8206,Davidson,37119|37025|37097
QWxmcmVk,Alfred Tennyson,"August 06, 1809","in Somersby, Lincolnshire, The United Kingdom",Alfred Tennyson,M,565000,3,1.75,1130,5111,1.0,0,7,1942,37.5303,-82.6206,Betsy Layne,21071
Q2hhcmxl,Charles Bukowski,"August 16, 1920","in Andernach, Germany",Charles Bukowski,M,590000,4,1.50,2230,5109,1.5,0,7,1918,30.7139,-86.0386,Defuniak Springs,12131
VGVycnkt,Terry Pratchett,"April 28, 1948","in Beaconsfield, Buckinghamshire, England, The...",Terry Pratchett,M,547000,2,1.00,1370,10038,1.5,0,7,1922,38.8624,-104.7565,Colorado Springs,8041
Si1ELVNh,J.D. Salinger,"January 01, 1919","in Manhattan, New York, The United States",J.D. Salinger,M,291850,3,1.50,1060,9711,1.0,0,7,1963,44.2632,-88.3846,Appleton,55087
R3Vvcmdl,George Carlin,"May 12, 1937","in New York, New York, The United States",George Carlin,M,245000,3,1.75,1920,9306,1.0,0,7,1984,32.9123,-96.6182,Garland,48113
Sm9obi1M,John Lennon,"October 09, 1940","in Liverpool, England, The United Kingdom",John Lennon,M,515000,2,1.00,1060,4960,1.0,0,7,1926,39.7759,-86.1383,Indianapolis,18097
Vy1DLUZp,W.C. Fields,"January 29, 1880","in Darby, Pennsylvania, The United States",W.C. Fields,M,425000,4,2.50,2390,5021,2.0,0,7,2002,18.4008,-66.0534,San Juan,72127
QXluLVJh,Ayn Rand,"February 02, 1905","in St. Petersburg, Russian Federation",Ayn Rand,F,825000,4,2.75,3990,6637,2.0,0,9,2003,37.3554,-90.6879,Annapolis,29093|29123|29179
QWxiZXJ0,Albert Einstein,"March 14, 1879","in Ulm, Germany",Albert Einstein,M,699999,3,0.75,1240,4000,1.0,0,7,1968,40.7123,-94.0385,Kellerton,19159|19053
SmFuZS1B,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen,F,300000,3,2.50,2540,5050,2.0,0,7,2006,33.9784,-117.0405,Calimesa,6065
Qy1TLUxl,C.S. Lewis,"November 29, 1898","in Belfast, Ireland",C.S. Lewis,M,351000,4,2.50,2370,7274,2.0,0,7,1997,31.4700,-92.7651,Lena,22079|22069|22115
Si1LLVJv,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",J.K. Rowling,F,415000,3,2.50,1060,1536,2.0,0,8,2000,38.8778,-77.0672,Fort Myer,51013
SmltaS1I,Jimi Hendrix,"November 27, 1942","in Seattle, Washington, The United States",Jimi Hendrix,M,284200,3,1.75,1540,6632,1.0,0,7,1959,39.9894,-81.1697,Barnesville,39013
Si1NLUJh,J.M. Barrie,"May 09, 1860","in Kirriemuir, Angus, Scotland, The United Kin...",J.M. Barrie,M,515000,3,2.50,3000,8250,1.0,0,8,1963,35.9007,-80.7921,Harmony,37097|37059
RS1FLUN1,E.E. Cummings,"October 14, 1894","in Cambridge, Massachusetts, The United States",E.E. Cummings,M,485000,4,2.00,1400,3600,1.0,0,7,1900,45.4517,-122.6901,Portland,41051|41005
S2hhbGVk,Khaled Hosseini,"March 04, 1965","in Kabul, Afghanistan",Khaled Hosseini,M,527500,4,2.25,2270,8480,1.0,0,8,1973,38.9148,-75.4267,Milford,10005|10001
SGFycGVy,Harper Lee,"April 28, 1926","in Monroeville, Alabama, The United States",Harper Lee,F,340500,3,2.00,2270,28025,1.0,0,7,1947,38.9532,-76.9472,Hyattsville,24033
TWFkZWxl,Madeleine L'Engle,"November 29, 1918","in New York City, New York, The United States",Madeleine L'Engle,F,296500,3,1.50,1580,10100,1.0,0,7,1961,38.8680,-104.7562,Colorado Springs,8041
TWFyay1U,Mark Twain,"November 30, 1835","in Florida, Missouri, The United States",Mark Twain,M,673200,5,3.00,4180,8561,2.0,0,7,2003,40.0528,-84.1107,Casstown,39109|39021
RHItU2V1,Dr. Seuss,"March 02, 1904","in Springfield, MA, The United States",Dr. Seuss,M,550000,3,3.50,2490,3582,2.0,0,8,2005,42.6669,-73.7866,Albany,36001
R5Vvcmdl,George R.R. Martin,"September 20, 1948","in Bayonne, New Jersey, The United States",George R.R. Martin,M,378000,4,2.50,1890,12236,1.0,0,7,1978,40.8348,-74.2650,Verona,34013

## Proof of Concept
Use the dataframe that you constructed above to answer the following three questions.

### Question 1
What is the mean and standard deviation of living space (sqft_living) by number of bedrooms? Use the pandas
dataframe.agg() method to calculate these statistics in a single step.

### Question 2
How many authors, by gender, live on lots that exceed the mean lot size (sqft_lot) by more
than 1 standard deviation.

### Question 3
Examine the documentation for the pandas dataframe.cut() 
[method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

Use this method to convert the *price* attribute into to
3 approximately equal sized bins. Assign each bin specific labels of 'low', 'medium', 'high'.
How many authors are there in each price category?

In [6]:
# Question 1
import numpy as np
q1 = dfinal_location.groupby(['bedrooms']).agg({'sqft_living': [np.mean, np.std]})
q1

          sqft_living
                 mean          std
bedrooms
2          972.000000   270.314631
3         1824.230769   504.271142
4         2454.777778  1066.275130
5         4180.000000          NaN

In [7]:
# Question 2
dfinal_location2 = dfinal_location.merge(q1, how='left',  left_on = 'bedrooms', right_index = True)
dfinal_location2[('sqft_living', 'std')] = dfinal_location2[('sqft_living', 'std')].fillna(0)
dfinal_location2["more_1_std"] = dfinal_location2[('sqft_living', 'mean')] +dfinal_location2[('sqft_living', 'std')]
dfinal_location3= dfinal_location2[dfinal_location2['sqft_lot']>dfinal_location2['more_1_std']]
q2 = dfinal_location3.groupby(['gender'])["author"].count()
q2

/Users/anshu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:9190: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(

gender
F    11
M    37
Name: author, dtype: int64

In [8]:

# Question 3
tcut = pd.cut(dfinal_location["price"], 3, labels=["low", "medium", "high"])
tcut
tcut.value_counts()
type(tcut)

pandas.core.series.Series

## Deliverable
Due to the the implementation of the JNB app, it is very easy to create circular variable dependencies. Such
dependencies will thwart my ability to run your entire JNB solution and result in the loss of valuable project points.

To ensure that your have not inadvertently created such dependencies, I **strongly** recommend (insist, really) you perform the following steps
prior to submitting your JNB.

1. Clear all outputs from your JNB solution's code cells
1. Save you JNB solution
1. Stop and restart your JNB kernel via the *Kernel* Jupyter Notebook menu item. Use the
*Restart & Run All Output* menu item.
1. Inspect your output cells for any errors

Once you have completed your project, upload the JNB containing your solution to the
*Course Project* assessment item located in the *Course Project* content area on our Blackboard site.